@model IEnumerable<DoctorList.Models.DoctorModel>

<div class="container mt-5">
    <div class="text-center mb-4">
        <h4 class="fw-bold">Welcome, Rohit Laishram!</h4>
        <h5>Explore our team of expert doctors and find the right one for you.</h5>
    </div>
    <a href="/Doctor/Create" class="btn btn-primary" style="margin-bottom:20px;">Create</a>

    <div class="row g-3">
        @{
            foreach (var doctor in Model)
            {
                <div class="col-md-4 d-flex align-items-stretch">
                    <div class="card shadow-sm p-3 bg-body-tertiary text-center w-100" style="min-height: 300px;">
                        <img class="doc-image rounded-circle mb-3" src="@doctor.Image"
                            style="width: 100px; height: 100px; object-fit: contain;" alt="Doctor Image">
                        <h5 class="mb-0">@doctor.Name</h5>
                        <small class="text-muted">@doctor.Speciality</small>
                        <p class="mt-2">
                            <strong>Email:</strong> @doctor.Email <br />
                            <strong>Phone:</strong> @doctor.Phone
                        </p>
                        <div>
                            <a asp-action="Edit" class="btn btn-primary" asp-route-id="@doctor.Id">Edit</a>
                            <form asp-action="Delete" asp-route-id="@doctor.Id" method="post">
                                <input type="submit" value="Delete" class="btn btn-danger" />
                            </form>

                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>
