@model IEnumerable<DoctorAppointment.Models.Doctor>

<div class="container mt-5">
    <div class="text-center mb-4">
        <h4 class="fw-bold">Welcome, @ViewBag.Name!</h4>
        <h5>Explore our team of expert doctors and find the right one for you.</h5>
    </div>
@*     <a href="/Doctor/Create" class="btn btn-primary" style="margin-bottom:20px;">Create</a>
 *@
 <div class="d-flex  justify-content-between gap-2" style="width:300px">
    <a class="button bg-primary rounded-3 text-white p-3 text-decoration-none" asp-area="" asp-controller="Appointment" asp-action="Index" asp-route-id="@ViewBag.Id">My Appointments</a>
       
 </div>

    <div class="row g-3 mt-lg-5">
        @{
            foreach (var doctor in Model)
            {
                <div class="col-md-4 d-flex align-items-stretch">
                    <div class="card shadow-sm p-3 bg-body-tertiary text-center w-100" style="min-height: 300px;">
                        <img class="doc-image rounded-circle mb-3" src="images/@doctor.Image"
                            style="width: 100px; height: 100px; object-fit: contain;" alt="Doctor Image">
                        <h5 class="mb-0">@doctor.Name</h5>
                        <small class="text-muted">@doctor.Specialist</small>
                        <p class="mt-2">
                            <strong>Email:</strong> @doctor.Email <br />
                        </p>
                        <div>
                            <span><a class="container button bg-primary text-white p-2 rounded-2 text-decoration-none" asp-action="Create" asp-controller="Appointment" asp-route-patientId="@ViewBag.Id" asp-route-doctorId="@doctor.Id">Appointment</a> </span>

                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>



